@import "../../index.scss";

.services {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-bottom: 2%;

  .service-heading {
    margin-top: 8%;
    height: 50px;
    margin-bottom: 10px;
    h1 {
      font-size: 2rem;
      color: var(--heading-color);
    }
    margin-bottom: 3%;
  }
  .cards {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    .card {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      background-color: rgba(0, 0, 0, 0);
      padding: 2rem;
      width: 30.3%;
      height: 300px;
      border-radius: 10px;
      margin: 1%;
      transition: 0.4s ease-in-out;

      .card-icon {
        margin-bottom: 4%;
        svg {
          color: var(--theme-color);
          font-size: 3.5rem;
        }
      }

      .card-title {
        font-weight: 700;
        font-size: 1.5rem;
        color: var(--heading-color);
        margin-bottom: 7%;
      }

      .card-description {
        font-weight: 400;
        color: var(--paragraph-color);
        font-size: 1.1rem;
      }

      &:hover {
        transition: 0.4s ease-in-out;
        box-shadow: 0px 5px 10px rgba(154, 160, 185, 0.8);
        -webkit-box-shadow: 0px 5px 10px rgba(154, 160, 185, 0.8);
        -moz-box-shadow: 0px 0px 10px rgba(154, 160, 185, 0.8);
        background: rgb(137, 201, 230);
        background: linear-gradient(
          60deg,
          var(--white),
          rgba(137, 201, 230, 1) 0%,
          rgba(0, 0, 0, 1) 92%
        );
        cursor: pointer;
        transform: translateY(-5px);
        .card-icon {
          svg {
            color: var(--white);
          }
        }

        .card-title,
        .card-description {
          color: var(--white);
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    .service-heading {
      margin-top: 13%;
    }

    .cards {
      .card {
        width: 47%;
        height: 280px;
      }
    }
  }

  @media screen and (max-width: 500px) {
    margin-top: 5%;
    margin-bottom: 5%;
    .service-heading {
      margin-top: 20%;
      margin-bottom: 10%;
      height: 25px;

      h1 {
        font-size: 2rem;
        color: var(--heading-color);
      }
    }

    .cards {
      .card {
        width: 90%;
        height: 280px;
      }
    }
  }

  @media screen and (max-width: 320px) {
    .cards {
      .card {
        width: 80%;
        height: 240px;
      }
    }
  }
}
