* {
  margin: 0;
  box-sizing: border-box;
  margin: 0;
  font-size: 16px;
  //===== Colors =====//
  --theme-color: #89c9e6;
  --secondary-color: #335484;
  --border-color: #b1b4c1;
  --secondary-heading: rgb(233, 233, 233);
  --border-color: #d4d4d4;
  --white: #f4f4ed;
}
