.calendly {
  width: 200px;
  height: 50px;
  position: fixed;
  top: 17%;
  right: 1%;
  z-index: 500;

  button {
    height: 45px;
    width: 150px;
    cursor: pointer;
    border-radius: 15px !important;
    font-weight: 700;
    opacity: 0.8;
    background-color: rgba(0, 0, 0, 0);
    color: var(--theme-color) !important;
    border: 2px solid var(--theme-color) !important;
    transition: 0.2s ease-in-out;
    box-shadow: -1px 2px 5px 8px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: -1px 2px 5px 8px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: -1px 2px 5px 8px rgba(0, 0, 0, 0.5);

    a {
      text-decoration: none;
      color: white;
      font-weight: 700;
      transition: 0.2s ease-in-out;
    }
    &:hover {
      opacity: 0.9;
      background-color: var(--theme-color);
      a {
        color: white !important;
      }
      transition: 0.2s ease-in-out;
    }

    &:hover {
      height: 50px;
      width: 160px;
      transition: 0.2s ease-in-out;
      color: white !important;
    }
  }

  @media screen and (max-width: 768px) {
    top: 16%;
  }
  @media screen and (max-width: 540px) {
    right: -35px !important;
    top: 18%;
  }

  @media screen and (max-width: 414px) {
    top: 18%;
  }

  @media screen and (max-width: 380px) {
    top: 17%;
  }

  @media screen and (max-width: 350px) {
    top: 20%;
  }
}
