@import "../../index.scss";

.landing {
  height: 100vh;
  background-image: url(../../img/landing/landing.jpg);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;

  .landing-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      color: var(--white);
      font-weight: 700;
      font-size: 5.5rem;
      opacity: 0.9;
      text-align: center;
    }

    p {
      color: var(--border-color);
      margin-bottom: 20px;
      text-align: center;
      font-size: 1.7rem;
    }

    .landing-btn {
      button {
        height: 60px;
        width: 200px;
        cursor: pointer;
        border-radius: 10px;
        color: var(--white);
        font-weight: 700;
        opacity: 0.8;
        background-color: rgba(0, 0, 0, 0);
        border: 2px solid var(--border-color);
        transition: 0.2s ease-in-out;
        box-shadow: -1px 2px 5px 8px rgba(0, 0, 0, 0.5);
        -webkit-box-shadow: -1px 2px 5px 8px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: -1px 2px 5px 8px rgba(0, 0, 0, 0.5);

        a {
          text-decoration: none;
          color: black;
          font-weight: 700;
          transition: 0.2s ease-in-out;
        }
        &:hover {
          opacity: 0.9;
          background-color: var(--theme-color);
          a {
            color: var(--white);
          }
          transition: 0.2s ease-in-out;
        }

        &:hover {
          height: 60px;
          width: 190px;
          transition: 0.2s ease-in-out;
          color: var(--white);
        }
      }
    }
    @media screen and (max-width: 500px) {
      h1 {
        font-size: 3.5rem;
        margin-bottom: 10%;
      }

      p {
        font-size: 1.5rem;
      }
    }

    @media screen and (max-width: 380px) {
      h1 {
        font-size: 3.5rem;
      }

      p {
        font-size: 1.3rem;
      }
    }
  }
}
