@import "../../index.scss";

.floating-social {
  height: 30vh;
  width: 150px;
  position: fixed;
  top: 24%;
  right: 3.5%;
  z-index: 500;
  .floating-social-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
    .svg-container {
      height: 100%;
      width: 100%;
      flex-direction: column;
      display: flex;
      justify-content: space-around;
      align-items: center;
      transition: 0.2s ease-in-out;
      svg {
        color: var(--white);
        font-size: 2.5rem;
        font-weight: 700;
        border-radius: 50%;
        transition: 0.2s ease-in-out;
        color: var(--theme-color);
        padding: 7px;
        border: 2px solid var(--theme-color);

        &:hover {
          color: var(--theme-color);
          cursor: pointer;
          transform: scale(1.2) translateY(-5px);
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    top: 22%;
    right: 7%;
  }

  @media screen and (max-width: 500px) {
    top: 11%;
    left: -11%;
  }

  @media screen and (max-width: 414px) {
    top: 11%;
    left: -11%;
  }

  @media screen and (max-width: 350px) {
    top: 30%;
    left: -14%;
  }
}
