@import "../../index.scss";

.about {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .about-picture {
    width: 471px;
    height: 627px;
    background-image: url(../../img/about/about.jpg);
    background-size: 100% 100%;
    border-radius: 10px;
    order: 1;
  }

  .about-content {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
      color: var(--paragraph-color);
      line-height: 1.8rem;
    }

    .about-heading {
      width: 60%;
      height: 35%;
      text-align: left;

      h1 {
        font-size: 4rem;
        color: var(--heading-color);
        margin-bottom: 6%;
      }

      .about-heading-text {
        font-size: 1.1rem;
      }
    }

    .about-description {
      width: 80%;
      height: 30%;
      .about-description-text {
        font-size: 1.1rem;
      }
    }
    order: 2;
  }

  @media screen and (max-width: 768px) {
    min-height: 100vh !important;
    flex-direction: column;
    justify-content: flex-start;
    .about-picture {
      order: 2;
      height: 55%;
      width: 50%;
    }

    .about-content {
      order: 1;
      height: 30%;
      width: 80%;
      margin-bottom: 10px;

      .about-heading {
        width: 90%;
        height: 40%;
        text-align: left;

        h1 {
          font-size: 3rem;
        }

        .about-heading-text {
          font-size: 1.1rem;
        }
      }

      .about-description {
        width: 90%;
        height: 30%;
        .about-description-text {
          font-size: 1.1rem;
        }
      }
    }
  }

  @media screen and (max-height: 700px) {
    margin-bottom: 10%;
    .about-content {
      order: 1;
      height: 50%;
      width: 80%;

      .about-heading {
        height: 50%;
      }
    }

    .about-picture {
      height: 80%;
      width: 45%;
    }
  }

  @media screen and (max-width: 500px) {
    justify-content: center;
    align-items: center;
    height: 400px !important;
    margin-top: 50px;
    background-image: url(../../img/about/about.jpg);
    background-size: 100% 100%;
    .about-picture {
      display: none;
    }

    .about-content {
      height: 45% !important;
      background-color: rgba(252, 252, 252, 0.8);
      margin-top: 20px;
      p {
        line-height: 1.5rem;
        font-size: 1.2rem !important;
        color: black;
      }

      h1 {
        margin-top: -55px;
      }
      order: 1;
      height: 50%;
      width: 80%;

      .about-heading {
        height: 50%;
      }
    }
  }

  @media screen and (max-width: 400px) {
    .about-content {
      order: 1;
      height: 45% !important;
      width: 80%;

      p {
        line-height: 1.7rem !important;
      }

      .about-heading {
        width: 90%;
        height: 25%;
        text-align: left;

        h1 {
          font-size: 3rem;
          margin-top: -100px;
        }

        .about-heading-text {
          font-size: 1.1rem;
        }
      }

      .about-description {
        width: 90%;
        height: 30%;
        .about-description-text {
          font-size: 1.1rem;
        }
      }
    }
  }

  @media screen and (max-width: 350px) {
    height: 100vh !important;
    margin-top: 50px;
    .about-content {
      height: 65% !important;
      .about-heading {
        height: 30%;
        h1 {
          margin-top: -125px;
        }
      }
    }
  }
}
